<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>Notifications may include alerts, sounds, and icon badges. These can be configured in Settings.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take emotion diagnosis photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select profile photos.</string>
</dict>
</plist>
